@model DevelopersIndexViewModel

<h2>Developers</h2>


<div class="list-group">
    @foreach (var developer in Model.Developers)
    {
        <a class="list-group-item" asp-controller="Developers" asp-action="ShowDeveloper" 
           asp-route-id="@developer.Id">@developer.Name</a>
    }
</div>
