@model DevelopersIndexViewModel

<h2>Developers</h2>


<div class="list-group">
    @foreach (var developer in Model.Developers)
    {
        <a class="list-group-item" href="/developers/@developer.Id">@developer.Name</a>
    }
</div>
