@model GamesIndexViewModel


<h2>Games</h2>

<div class="card">
    @foreach (var game in Model.Games)
    {
        <a class="list-group-item" asp-controller="Games" asp-action="ShowGame"
           asp-route-id="@game.Id">@game.Title</a>
    }
</div>
