@model GamesDetailViewModel


<h2>Game details</h2>

<partial name="_GameCardPartial" model="@Model" />

<p>
    <a asp-controller="Games" asp-action="Index" class="btn btn-primary">&laquo; Show all games</a>
</p>
